flows.json
[
    {
        "id": "d4c99f8432f4320d",
        "type": "tab",
        "label": "Client State",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3c9fafa.7dd6a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "demo-in.mqtttest.com",
        "port": "8883",
        "tls": "2d748829.2503d8",
        "clientid": "$(CLIENTID)",
        "autoConnect": true,
        "usetls": true,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": false,
        "birthTopic": "demo/sie/clientstate/connected",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "$(CLIENTID)",
        "birthMsg": {},
        "closeTopic": "demo/sie/clientstate/closed",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "$(CLIENTID)",
        "closeMsg": {},
        "willTopic": "demo/sie/clientstate/lastwill",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "$(CLIENTID)",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2d748829.2503d8",
        "type": "tls-config",
        "name": "demo-in.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-in.mqtttest.com",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "c7809b33.ca4548",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cb978cdcbb341010",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fde17ba4e8f07cec",
        "type": "gauth",
        "name": "node-red@fluted-sentry-260301.iam.gserviceaccount.com"
    },
    {
        "id": "a4089a2e.e45d68",
        "type": "tls-config",
        "name": "demo-na.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-na.mqtttest.com",
        "verifyservercert": true
    },
    {
        "id": "a06ddef.76e0f2",
        "type": "ui_tab",
        "name": "Latency",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "26f4d1165fd20bba",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "ca67bd7dfaad900f",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "ca67bd7dfaad900f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "80bef3743ca28f1f",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "d5759354530745c7",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "d5759354530745c7",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "54e197d8.7f7fe8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "81fc7724bb1fd349",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true
    },
    {
        "id": "d328eaed2d818008",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "api.ipify.org",
        "verifyservercert": false
    },
    {
        "id": "2f351a87b59f115a",
        "type": "tls-config",
        "name": "demo-na.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-na.mqtttest.com",
        "verifyservercert": false
    },
    {
        "id": "e4eabf1d7cbac13c",
        "type": "gauth"
    },
    {
        "id": "7ff7b2e0594f946c",
        "type": "gauth"
    },
    {
        "id": "86a017a36036cd51",
        "type": "gauth"
    },
    {
        "id": "ca6ef322ad7c2325",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "c7809b33.ca4548",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "38f957767413f424",
        "type": "ui_group",
        "name": "Latency",
        "tab": "a06ddef.76e0f2",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "85ffacbf904db61d",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "5bbbfc930baf97d5",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "5bbbfc930baf97d5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3b9b4975b762caaf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "demo.mqtttest.com",
        "port": "8883",
        "tls": "353bb6547d30ac52",
        "clientid": "otademo",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b039f0e61c731c39",
        "type": "ui_group",
        "name": "Client State Table",
        "tab": "c7809b33.ca4548",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "353bb6547d30ac52",
        "type": "tls-config",
        "name": "demo.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo.mqtttest.com",
        "verifyservercert": true
    },
    {
        "id": "7c2b4036fb692de4",
        "type": "gauth",
        "name": "hay-ocr@hay-ocr.iam.gserviceaccount.com"
    },
    {
        "id": "02d8fbe38790357d",
        "type": "ui_group",
        "name": "Client State Table",
        "tab": "c7809b33.ca4548",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "13706161fd4d8ae4",
        "type": "ui_group",
        "name": "Worldmap",
        "tab": "c7809b33.ca4548",
        "order": 4,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7078f21e8ae8ef0c",
        "type": "comment",
        "z": "d4c99f8432f4320d",
        "name": "Listen for Connect, Close, LWT messages",
        "info": "",
        "x": 230,
        "y": 100,
        "wires": []
    },
    {
        "id": "687cc0b7218c5488",
        "type": "mqtt in",
        "z": "d4c99f8432f4320d",
        "name": "Listen for Connect Messages",
        "topic": "demo/sie/state/connected",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "6de63db006ed2b9a",
                "742e450ac8633af4"
            ]
        ]
    },
    {
        "id": "c347ac0b5fc2204b",
        "type": "file",
        "z": "d4c99f8432f4320d",
        "name": "Write Client State File",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 860,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "6de63db006ed2b9a",
        "type": "template",
        "z": "d4c99f8432f4320d",
        "name": "Set Filename",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/data/clientstate/{{payload}}",
        "output": "str",
        "x": 470,
        "y": 160,
        "wires": [
            [
                "c347ac0b5fc2204b"
            ]
        ]
    },
    {
        "id": "775fdfe9c337dcf7",
        "type": "mqtt in",
        "z": "d4c99f8432f4320d",
        "name": "Listen for Close Messages",
        "topic": "demo/sie/state/closed",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "112fadba78f13fc9",
                "742e450ac8633af4"
            ]
        ]
    },
    {
        "id": "112fadba78f13fc9",
        "type": "template",
        "z": "d4c99f8432f4320d",
        "name": "Set Filename",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/data/clientstate/{{payload}}",
        "output": "str",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "4dd76a24c0cee365"
            ]
        ]
    },
    {
        "id": "08d131a8d0596ef0",
        "type": "mqtt in",
        "z": "d4c99f8432f4320d",
        "name": "Listen for lwt Messages",
        "topic": "demo/sie/state/lwt",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "112fadba78f13fc9",
                "ab1b4883aecc4719",
                "742e450ac8633af4"
            ]
        ]
    },
    {
        "id": "4dd76a24c0cee365",
        "type": "file",
        "z": "d4c99f8432f4320d",
        "name": "Delete Client State File",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 860,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "655dca9a651a965e",
        "type": "file",
        "z": "d4c99f8432f4320d",
        "name": "Track LWT messages (Disconnect Monitor)",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 930,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ab1b4883aecc4719",
        "type": "template",
        "z": "d4c99f8432f4320d",
        "name": "Set Filename",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/data/disconnects/{{payload}}",
        "output": "str",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "655dca9a651a965e"
            ]
        ]
    },
    {
        "id": "3868f26c0e70dbb4",
        "type": "ui_button",
        "z": "d4c99f8432f4320d",
        "name": "",
        "group": "b039f0e61c731c39",
        "order": 8,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Refresh Client State",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "e4964ba1e436a89f"
            ]
        ]
    },
    {
        "id": "4507e35c500307d1",
        "type": "template",
        "z": "d4c99f8432f4320d",
        "name": "form JSON of Active Clients",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"title\":\"{{payload}}\",\"description\":\"Connected\",\"icon\":\"https://cdn1.iconfinder.com/data/icons/malware-and-threats/512/Botnet-01-512.png\"}",
        "output": "json",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "5116513349bd2732"
            ]
        ]
    },
    {
        "id": "5116513349bd2732",
        "type": "join",
        "z": "d4c99f8432f4320d",
        "name": "Create Single Array of Active Clients",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "2",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "87e89e9cf70369e3"
            ]
        ]
    },
    {
        "id": "d98556722b9df178",
        "type": "comment",
        "z": "d4c99f8432f4320d",
        "name": "Build Client State Table",
        "info": "",
        "x": 160,
        "y": 380,
        "wires": []
    },
    {
        "id": "742e450ac8633af4",
        "type": "debug",
        "z": "d4c99f8432f4320d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "87e89e9cf70369e3",
        "type": "ui_list",
        "z": "d4c99f8432f4320d",
        "group": "b039f0e61c731c39",
        "name": "Client State Table",
        "order": 1,
        "width": 6,
        "height": 14,
        "lineType": "two",
        "actionType": "click",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 150,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "e4964ba1e436a89f",
        "type": "fs-file-lister",
        "z": "d4c99f8432f4320d",
        "name": "Build List of Active Clients",
        "start": "/data/clientstate",
        "pattern": "*player*",
        "folders": "*",
        "hidden": false,
        "lstype": "files",
        "path": false,
        "single": false,
        "depth": 0,
        "stat": false,
        "showWarnings": false,
        "x": 180,
        "y": 480,
        "wires": [
            [
                "4507e35c500307d1"
            ]
        ]
    }
]
